/* universal sizing */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* applies for page under header */
body {
    background-color: #d9dcd6;
}

/* sets font and color them for page header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* sizes and aligns page title in header */
#sitetitle {
    display: inline-block;
    font-size: 48px;
}

/* stylizes 'seo' text within Horiseon title */
#seo {
    color: #d9dcd6;
}

/* positions nav menu in upper right of header; also formats font for menu options */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* positions menu options inside of nav */
li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}

/* stylizes text in nav menu */
a {
    color: #ffffff;
    text-decoration: none;
}

/* formats postion and size of large, central page image */
#mainimage {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* positions and sizes main page content */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* sizes, positions, and stylizes sections within main content */
.maincontentsection {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    font-size: 16px;
}

/* positions and sets font size for main content section titles */
.maincontentheading {
    margin-bottom: 20px;
    font-size: 36px;
}

/* next 3 position and size images for each main content section */
#seoimage {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

#socialmediaimage {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

#onlinerepimage {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

/* sizes, positions, and stylizes aside with benefits content */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

/* sets position and font size of sections containing benefits content */
.benefitcontentsection {
    margin-bottom: 32px;
    font-size: 16px;
    /* color: #ffffff; */
}

/* positions titles of benefit content sections */
.benefitheading {
    margin-bottom: 10px;
    text-align: center;
}

/* sizes images for benefit content */
.benefitimage {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* positions and stylizes footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* adjust font size for footer main message */
#footermessage {
    font-size: 20px;
}
